<!DOCTYPE html>
<HTML>
    <HEAD>
        <TITLE>COMPARAMELO TESTING</TITLE>
        <META charset="UTF-8">
        <META name="viewport" content="width=device-width, initial-scale=1.0">
    </HEAD>
    <BODY>
        <DIV>
            <DIV id="scrapeOneItem">
                Scrape One Item
                <FORM action="/vincent/scrapeOneItem" method="POST">
                    URL: <INPUT name="url" type="text"/>
                    <INPUT name="submitButton" type="submit"/>
                </FORM>
            </DIV>
        </DIV>
    </BODY>
</HTML>
